@model BlogArticle

<div class="row">
    <div class="col-sm-6">
        <div class="blog-thumbnail margin-bottom-20">

            @if (Model.Image.Count() > 0)
            {
                <img src="@Model.Image.FirstOrDefault().Url" class="img-responsive" alt="@Model.Image.FirstOrDefault()?.Description" />
            }
        </div>
    </div>
    <div class="col-sm-6">
        <h4>Brad Jolicoeur</h4>
        <h6>@Model.PublishedDate?.ToString("MM/dd/yyyy")</h6>

        @if (Model.Tags.Count() > 0)
        {
            <ul class="list-inline">
                <li><h5>tags:</h5></li>
                @Html.DisplayFor(vm => vm.Tags)
            </ul>
        }

    </div>
</div>
<div class="text-align-top ">
    <div class="blog-body">@Html.DisplayFor(vm => vm.Body)</div>
</div>