@model BlogArticle
@inject Squidex.ClientLibrary.ISquidexClientManager Squidex


<div class="row margin-bottom-20">
    <div class="col-sm-4 blog-thumbnail">
        <img src="@Squidex.GenerateImageUrl(Model.Data.ImageUrl.FirstOrDefault())" alt="@Model.Data.Title" class="img-responsive" />
    </div>
    <div class="col-sm-8 text-align-top blog-summary">
        <h3>@Model.Data.Title</h3>
        <h6><strong>Brad Jolicoeur</strong>  -  @Model.Data.PublishedDate.ToString("MM/dd/yyyy")</h6>
        @if (Model.Data.HasTags())
        {
            <ul class="list-inline">
                <li><h5>tags:</h5></li>
                @foreach (var tag in Model.Data.GetTags().Tags)
                {
                    <li><a asp-page="./blog" asp-route-id="@tag.Value">@tag.Name</a></li>
                }
            </ul>

        }

        <div>@Html.DisplayFor(i => Model.Data.Description)</div>
        <span class="button-link">
            <a asp-page="./article" asp-route-slug="@Model.Data.Slug">Read More</a>
        </span>
    </div>
</div>
