@page
@model IndexModel
@using bradjolicoeur.web.Components
@{
    ViewData["Title"] = "Home";
    ViewBag.Description = "Home";
    ViewBag.Image = Model.ImageUrl;
}
@section HeroSection {

<div class="row">
    <div class="hero-container">
            <img class="img-fluid w-100" src="~/images/IMG_20180707_161856v2.jpg" alt="Brad self portrait" />
        <div class="container hero-content">
            <div>
                <h1>@Model.HomePage.HeroTitle</h1>
                <div class="hero-phrase">@Model.HomePage.HeroPhrase</div>
            </div>
        </div>
    </div>
</div>
}


    <div class="row ">
    <div class="bg-light rounded-3 p2 m-3">
        <div class="row">
        <div class="col-sm-2 col-xs-4">
            <img class="p-1 img-fluid" src="@Model.ImageUrl" alt="Brad Jolicoeur" />
        </div>
        <div class="col-sm-10 col-xs-8">
            @Html.Raw(MarkdownHelper.Transform(Model.HomePage.Body))
        </div>
        </div>
    </div>
    </div>
    <div class="row">
        <h2>Recent Blog Articles</h2>
        <hr/>
        <component type="typeof(RecentBlogArticles)" render-mode="ServerPrerendered" param-Articles="@Model.BlogArticles" />
    </div>


