@page
@model bradjolicoeur.web.Pages.ReadingModel
@using bradjolicoeur.web.Components
@{
    ViewData["Title"] = "Feed";
}

<h1>@ViewData["Title"]</h1>

<blockquote>This is a feed of links I've run across and found interesting or noteworthy.  The images, content and opinions in them are owned by their respective authors.</blockquote>

@foreach (var item in Model.content?.Data)
{
    <component type="typeof(FeedArticleSummary)" render-mode="ServerPrerendered" param-Model="@item" />
}

<nav aria-label="Page navigation example">
    <ul class="pagination">
        <li class='page-item me-2 @(Model.PreviousPage? "":"disabled")'>
            <a asp-page="/reading" asp-route-currentpage="@(Model.CurrentPage -1)" class="button-link">Previous</a>
        </li>

        @for (var i = Model.CurrentPage; i <= (Model.TotalPages >= 10 ? 10 : Model.TotalPages); i++)
        {
            <li class="page-item @(i == Model.CurrentPage ? "active" : "")">
                <a asp-page="/reading" asp-route-currentpage="@i" class="page-link">@i</a>
            </li>
        }
 

        <li class='page-item ms-2 @(Model.NextPage? "":"disabled")'>
            <a asp-page="/reading" asp-route-currentpage="@(Model.CurrentPage +1)" class="button-link">Next</a>
        </li>
    </ul>
</nav>